/* Hack for page width */

/* Pages w/o aside: home, archives, tags; wide, so more posts fit on one screen */
.VPDoc .content {
  max-width: 60rem !important;
}

/* Pages w/ aside: posts, ~48rem of text for readable line length */
.VPDoc.has-aside .content-container {
  max-width: 48rem !important;
}

/* Overall width for content+aside */
.VPContent .container {
  max-width: 72rem !important;
}
