/* Hack for wider page */

.VPDoc .content {
  max-width: 60rem !important;
}

.VPDoc.has-aside .content-container {
  max-width: 60rem !important;
}

.VPContent .container {
  max-width: 72rem !important;
}
